body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  background: url(./michael-weidemann-767334-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: scroll;
  background-color: #BECAC2;
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.searchBar{
  padding: 40px;
  text-align: center;
}
.searchInput
{
  display: inline;
  width: 450px;
  height: 40px;
}
.searchText
{
  align-items: center;
  margin-left: 300px;
  margin-right: 5px;
  font-size: 25px;
  display: inline;
}
.searchButton
{
  width: 60px;
  height: 40px;
  margin-right: 300px;
}

.ThankyouForPurchaseText
{
  text-align: center;
}

.companyName
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #fff;
  line-height: 125px;
  text-align: center;
  background: #000;
  font-family:"Comic Sans MS";
  font-size: 25px;
  color: #F36154;
  position:absolute;
  top:10px;
  left:10px;
}

.navbar {
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #232E3D;
  height: 40px;
}

.background-gray {
  background-color: rgb(246,246,239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 80%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}
