body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  background: url(./michael-weidemann-767334-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: scroll
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.searchBar{
  padding: 40px;
}
.searchInput
{
  display: inline;
  width: 500px;
  height: 40px;
}
.searchText
{
  align-items: center;
  margin-left: 300px;
  margin-right: 5px;
  font-size: 25px;
  display: inline;
}
.searchButton
{
  width: 60px;
  height: 40px;
  margin-right: 300px;
}

.orange {
  background-color: #232E3D;
  height: 40px;
}

.background-gray {
  background-color: rgb(246,246,239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}
